.RequestsList{

  h2{
    text-align: center;
  }
  
  .sortPanel{
    width: 100%;
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    .sortPanelContainer{
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button{
        width: 170px;
        font-size: 12px;
      }
    }
  }

  ul{
    list-style: none;
  }
}